<%= form_for(@relocate) do |f| %>
  <% if @relocate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relocate.errors.count, "error") %> prohibited this relocate from being saved:</h2>

      <ul>
      <% @relocate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br />
    <%= f.number_field :team_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
