<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @relocate.name %>
</p>

<p>
  <b>Team:</b>
  <%= @relocate.team_id %>
</p>


<%= link_to 'Edit', edit_relocate_path(@relocate) %> |
<%= link_to 'Back', relocates_path %>
