<p id="notice"><%= notice %></p>

<p>
  <b>Team:</b>
  <%= @team.team %>
</p>

<p>
  <b>Sports:</b>
  <%= @team.sport_id %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
