<h1>Listing rankings</h1>

<table>
  <tr>
    <th>Rank</th>
    <th>Team</th>
    <th>Sport</th>
    <th>Source</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= will_paginate @rankings %>

<% @rankings.each do |ranking| %>
  <tr>
    <td><%= ranking.rank %></td>
    <td><%= ranking.team_id %></td>
    <td><%= ranking.sport_id %></td>
    <td><%= ranking.source_id %></td>
    <td><%= link_to 'Show', ranking %></td>
    <td><%= link_to 'Edit', edit_ranking_path(ranking) %></td>
    <td><%= link_to 'Destroy', ranking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ranking', new_ranking_path %>
