<h1>Hello Rails</h1>

<ul>
	<li><%= link_to "Sports", sports_path %></li>
	<li><%= link_to "Rankings", rankings_path %></li>
	<li><%= link_to "Sources", sources_path %></li>
	<li><%= link_to "Teams", teams_path %></li>
	<li><%= link_to "Relocates", relocates_path %></li>
</ul>

<ul>
	<li><%= link_to "Averages", averages_path %></li>
	<li><%= link_to "Weighted", weighted_path %></li>
	<li><%= link_to "Sortable", sortable_path %></li>
</ul>